* {
  padding: 0;
  marging: 0;
  box-sizing: border-box;
}

body,
form,
.container,
.socials {
  display: flex;
}

body {
  background-image: linear-gradient(
    to bottom,
    #0a1d37 0%,
    #142c61 50%,
    #1e3a8a 100%
  );
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

a {
  color: #00c2fc;
  font-weight: bold;
}

form {
  flex-direction: column;
}

.form-label {
  margin-left: 2px;
}

#email,
#password,
form > button,
.socials {
  width: 400px;
  height: 56px;
  border-radius: 10px;
}

form > div {
  margin: 12px 0px 8px 0px;
}

input {
  border: 1px solid #ffffff;
  padding: 0px 10px;
}

/* Only apply hover effect when NOT focused */
input:not(:focus):hover {
  background-color: #cbd5e1;
  border-color: #cbd5e1;
}

input:focus {
  outline: none;
  border-color: #00c2fc;
}

button {
  border: none;
  color: #ffffff;
  font-size: 16px;
  margin: 15px 0px;
  font-weight: bold;
  background-color: #00c2fc;
}

button:hover {
  background-color: #008080;
}

.container {
  position: relative;
  width: 640px;
  height: 600px;
  top: 10;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* For Safari support */
  border-radius: 30px;
  box-shadow: inset 1px 0 2px 2px rgba(255, 255, 255, 0.3);
  align-items: center;
  flex-direction: column;
  z-index: 10;
  font-weight: 300;
}

.container::before,
.container:after {
  content: "";
  position: absolute;
  width: 224px;
  height: 224px;
  border-radius: 100%;
  z-index: 0;
}

.container::before {
  top: -100px;
  left: -164px;
  background: #3b82f6;
  filter: blur(36px);
}

.container::after {
  bottom: -96px;
  right: -132px;
  background: #008080;
  filter: blur(56px);
}

.rem-div > input {
  width: 16px;
  height: 16px;
}

.rem-div > label {
  color: #a7aaae;
}

.rem-div > span {
  float: right;
}

.divider {
  margin-bottom: 15px;
}

.line {
  display: inline-block;
  border: 1px solid #ffffff;
  width: 184px;
  opacity: 0.2;
}

.socials {
  flex-direction: row;
  justify-content: space-between;
}

.socials > img {
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
}

.socials > img:hover {
  width: 34px;
  height: 34px;
}

.help-text {
  align-self: flex-start;
  margin-left: 120px;
}
